body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#10151c;
    color:white;
}

header{
    background:#1c2530;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.btn{
    display:inline-block;
    background:#00c853;
    color:white;
    padding:15px 30px;
    border-radius:8px;
    text-decoration:none;
    margin-top:20px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:50px;
}

.card{
    background:#1c2530;
    width:250px;
    padding:25px;
    border-radius:12px;
}

footer{
    text-align:center;
    padding:30px;
    background:#1c2530;
}
